*
!.gitignore
!portolfio/wp-content
portfolio/wp-content/*
portfolio/wp-content/themes/*
!portfolio/wp-content/themes/
!portfolio/wp-content/themes/portfolio/*
!portfolio/wp-content/themes/portfolio/src/*
!portfolio/wp-content/themes/portfolio/core/*
portfolio/wp-content/themes/portfolio/public
portfolio/wp-content/themes/portfolio/nodes_modules
