*
!.gitignore
!wp-content
wp-content/*
!wp-content/themes
wp-content/themes/*
!wp-content/themes/portfolio
wp-content/themes/customtheme/public
wp-content/themes/customtheme/src/assets
wp-content/themes/customtheme/src/fonts
wp-content/themes/customtheme/nodes_modules